body{
    background-color:#eec8b0;
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
    height:100%;
}

#navbar{
    position:sticky;
    top:0%;
    width:100%;
    background-color:#555;
    color:#fff;
    z-index: 2000;
    height:10%;
}

#navbar ul{
    list-style: none;
    overflow: hidden;
}

#navbar li{
    display:inline;
    float:left;
}
#navbar li a:hover{
    height:100%;
    background-color:#a5bd97;
    
}

#navbar a,b,c{
    color:#fff;
    display:block;
    text-decoration: none;
    text-align:center;
    font-size:18px;
    padding: 15px;
}
#navbar span{
    color: #f39558;
}

.llamaDashboard img{
    z-index: 1000;
    position: fixed;
    bottom:0;
    right:50%;
    width:15%;
    
}.speech-bubble {
    position: fixed;
    background:#f1ece7;
    border-radius: .4em;
    bottom:25%;
    z-index: 1000;
    right:35%;
    height:10%;
    width: 15%;
    font-size: 2pc;
    text-align: center;
    padding-top:1%;

}
.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 47px solid transparent;
    border-right-color:#f1ece7;
    border-left: 0;
    border-bottom: 0;
    margin-top: -23.5px;
    margin-left: -47px;
}
.llama img{
    z-index: 1000;
    position: fixed;
    bottom:57%;
    left:0;
    width:12%;
}

.message {
    z-index: 1000;
    position: fixed;
    bottom:75%;
    left:10%;
    width: 15vw;
    background-color:#f1ece7;
    border-radius: 20px;
    padding:1pc;
    
}

.message.error {
    color: red;
    z-index: 1001;
}

.message.info {
    color: black;
}

.message.success {
    color: green;
    z-index: 1001;
}


.yourBalance{
    position: absolute;
    width:100%;
    top:0;
    bottom:60%;
    z-index: 97;
    background-color: #a5bd97;

}
.yourBalance h1{
    text-align: center;
    padding-top:5%;
    position: static;
}

.split{
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 2;
}

.left{
    position: absolute;
    left:0;
    width:40%;
    height:100%;
    background:#a5bd97;
}
#yourStock {
    position: absolute;
    top:40%;
    bottom:0;
    width:30%;
    background-color:#f39558 ;
    text-align: center;
    z-index: 1;
}
.stockOverview{
    position:absolute;
    width:100%;
    height:60%;
    padding-top: 15%;
    text-align: center;
    
}

.right{
    position: absolute;
    padding-top: 10vh;
    padding-bottom:10%;
    right:0;
    width: 60%;
    color:#555;
    text-align: center;
    z-index: 99;

}
.right h1{
    padding-top: 3vh;
    font-size: 25px;
}
.right p1{
    padding-bottom: 10%;
    font-size: 50px;
}
#buyOption{
    position:absolute;
    top:40%;
    margin-left:10%;
    
}
#buyOption input{
    background-color:#f1ece7;
    border:none;
    border-radius: 4%;
}
#buyOption button{
    border:none;
    border-radius: 10%;
    background-color: #f39558;
    width: 50px;
    height:25px;
}
#buyOption button:hover{
    border:none;
    border-radius: 10%;
    background-color: #a5bd97;
    width: 50px;
    height:25px;
}
.sellOption{
    position:absolute;
    top:40%;
    width:100%

}
.sellOption h1{
    text-align: center;}

.sellOption input{
    background-color:#f1ece7;
    border:none;
    border-radius: 4%;
}
.sellOption button{
    border:none;
    border-radius: 10%;
    background-color: #f39558;
    width: 50px;
    height:25px;
}
.sellOption button:hover{
    border:none;
    border-radius: 10%;
    background-color: #a5bd97;
    width: 50px;
    height:25px;

}
.history{
    position:absolute;
    top:40%;
    width:100%
}

#main-footer{
    position:fixed;
    bottom:0;
    width:100%;
    background: #555;
    color:#fff;
    text-align: center;
    z-index: 100;
}


