<!DOCTYPE html>
<html>
<head>
 <title>Stock Exchange Deppentreff</title>
 <link rel="stylesheet" type="text/css" href="../static/design.css">
 <script src="../static/app.js"></script>
</head>
<body>
    
    </div>
    </header>

    
    <!--This is the Navigation Bar which will be displayed in all templates-->
    <nav id="navbar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('buy') }}">Purchase</a></li>
            <li><a href="{{ url_for('sell') }}">Sell Off</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><c> <span>Equity: </span><span1>{{"%.2f" % equity }}$</span1></c></li>
            <li> <c><span> Stock Assets: </span><span1>{{"%.2f" % assets }}$</span1></c></li>
            <li> <c><span> Profit: </span><span1>{{"%.2f" % profit }}$</span1></c></li>
            <ul style="float:right">  
                <li ><a href="{{url_for('reset')}}">Reset</a></li>
                <li ><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>

        </ul>
        </div>
    </nav>
    <!--thsi will split the screen into two halfs-->
    <div class= "split left">
        <!--this class will show the overall Stock information with no option for Transaktion-->
        <div id="stockTable" class ="stockOverview">
           
            <form  method="post" action = "#">
                <h1>Stocks</h1>
                  
                 <!--use a table to diplay the data-->
                <table>
                    <thead>
                        <tr>
                            <!--these are the headers of the table-->
                            <th> Name </th>
                            <th> WKN </th>
                            <th> Value </th>
                            <th> Change </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--to get a list of values we use a for loop which is implemented in Html using Jinja, thsi is part of Flask-->
                        {% for stocksDataPoint in stocksDataList %}
                        <tr id="{{ stocksDataPoint['wkn'] }}">
                            <!--Using Variables, also with Jinja Templates, to display Data in a dynamic way-->
                            <td>{{ stocksDataPoint["company_name"] }}</td>
                            <td>{{ stocksDataPoint["wkn"] }}</td>
                            <td>{{ "%.2f" % stocksDataPoint["value"] }}$</td>
                            <td>{{ "%.2f" % stocksDataPoint["stock_change_rate"] }}%</td>
                            
                        </tr>
                        {% endfor %}<!--this is necessary to end the for-Loop-->
                        
                    </tbody>
                </table>
                
                    
            </form>
        </div>
    


    </div>
    <!-- this is the other half of the splitted screen -->
    <div class= "split right">
        <!-- we use variables to diplay the current data of the user-->

        <h1>Total Assets</h1>
        <p> {{ "%.2f" % total_assets }}$</p>

        <h1>Equity</h1>
        <p> {{ "%.2f" % equity }}$</p>
        
        <h1>Stock Assets</h1>
        <p>{{ "%.2f" % assets }}$</p>

        <h1>Profit</h1>
        <p>{{ "%.2f" % profit }}$</p>

        <h1>Yield</h1>
        <p>{{ "%.2f" % current_yield }}%</p>


</div>
<!-- the most important class which is neccessary to display the llama on the website-->
<div class='llamaDashboard'>
    <img src="../static/images/llama.png" alt="Llama">
</div>
<div class="speech-bubble">Good Luck!</div>

<!--the footer with the copyright information -->
<footer id="main-footer">
    <p>Copyright &copy;2020 Deppentreff</p>
</footer>
</body>
</html>