<!DOCTYPE html>
<html>
<head>
 <title>Stock Exchange Deppentreff</title>
 <link rel="stylesheet" type="text/css" href="../static/design.css">
</head>
<body>
    
    </div>
    </header>
    <!--This is the Navigation Bar which will be displayed in all templates-->
    <nav id="navbar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('buy') }}">Purchase</a></li>
            <li><a href="{{ url_for('sell') }}">Sell Off</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><c> <span>Equity: </span><span1>{{"%.2f" % equity }}$</span1></c></li>
            <li> <c><span> Stock Assets: </span><span1>{{"%.2f" % assets }}$</span1></c></li>
            <li> <c><span> Profit: </span><span1>{{"%.2f" % profit }}$</span1></c></li>
            <ul style="float:right">  
                <li ><a href="{{url_for('reset')}}">Reset</a></li>
                <li ><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>

        </ul>
        </div>
    </nav>
    <!--basic class which will show the current Balance of the user-->
    <div class= "yourBalance">
        <h1>Your Equity</h1>
        <!--Variable with Jinja-Template that allows the Website to display the Balance dynamic-->
        <h1>{{"%.2f" % equity}}$</h1>

    </div>
    <!--create a table with the history of the Transactions-->
    <div class="history">
        <table style="width:100%">
            <tr>
                <!--Table headers are created-->
                <th scope="col">Date</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
                <th scope="col">Change of Equity</th>
                <th scope="col">Equity at Transaction</th>
            </tr>
            <!--For Loop with Jinja Template that allows us to use Python in Html, makes it possible to diplay a kist of data-->
            {% for transaction in userHistory %}
            <tr>
                <!--Varibale that allow the dynamic display of the Data-->
                <td>{{ transaction["date"] }}</td>
                <td>{{ transaction["company_name"] }}</td>
                <td>{{ transaction["type"] }}</td>
                <td>{{ "%.2f" % transaction["value"] }}$</td>
                <td>{{ "%.2f" % transaction["balance"] }}$</td>
            </tr>
            {% endfor %}<!--necessary to end the For-Loop-->
            
          </table>
    </div>
    <!-- the most important class which is neccessary to display the llama on the website-->
    <div class='llama'>
        <img src="../static/images/llama.png" alt="Llama">
    </div>

    <!--the footer with the copyright information -->
<footer id="main-footer">
        <p>Coopyright &copy;2020 Deppentreff</p>
</footer>
</body>
</html>