<html>
<head>
<title>Stock Exchange Deppentreff</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
<body>

     
    <!--class which will be used to get the input of the user-->
    <div class="loginbox">
        <h1>Welcome to Deppentreff!</h1>
        <!-- to link the login with the register page and allow the user to login if an account already exists-->
        <span class="psw">Already have an account?  <a href="{{ url_for('index') }}">Sign in!</a></span>
    
        <!--we want send the data via an http-Request in this case a POST-Request-->
        <form  method="post" action = "{{ url_for('register') }}">
            <p></p>
            <label for="name"><b>Name</b></label>
             <!-- to get the input of the user-->
            <input type="text" name="name" placeholder="Enter your name " required>
            <p></p>
            <label for="email"><b>E-Mail</b></label>
             <!-- to get the input of the user-->
            <input type="email" name="email" placeholder="Enter your e-mail "required >
            <p></p>
            <label for="psw"><b>Password</b></label>
             <!-- to get the input of the user-->
            <input type="password" name="password" placeholder="Enter your password" required >
        <!--Button to submit the input Datat-->
        <input type="submit" name="" value="Register">
           
        </form>
        
    </div>
    <!-- the most important class which is neccessary to display the llama on the website-->
    <div class='llamaRegister'>
        <img src="../static/images/llama.png" alt="Llama">
        <div class="speech-bubble">Hello! Enjoy the game!</div>
    </div>
</body>
</head>
</html>