
<!DOCTYPE html>
<html>
<head>
 <title>Stock Exchange Deppentreff</title>
 <link rel="stylesheet" type="text/css" href="../static/design.css">
</head>
<body>
    
    </div>
    </header>
    <!-- To Display Message, can be an Error or Success Message-->
    {% if message is not none %}
        <div class="message {{message['type']}}">{{ message['text']}}</div>
    {% endif %}

    <!--This is the Navigation Bar which will be displayed in all templates-->
    <nav id="navbar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('buy') }}">Purchase</a></li>
            <li><a href="{{ url_for('sell') }}">Sell Off</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><c> <span>Equity: </span><span1>{{"%.2f" % equity }}$</span1></c></li>
            <li> <c><span> Stock Assets: </span><span1>{{"%.2f" % assets }}$</span1></c></li>
            <li> <c><span> Profit: </span><span1>{{"%.2f" % profit }}$</span1></c></li>
            <ul style="float:right">  
                <li ><a href="{{url_for('reset')}}">Reset</a></li>
                <li ><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>

        </ul>
        </div>
    </nav>
    
    <!--basic class which will show the current Balance of the user-->
    <div class= "yourBalance">
        <h1>Your Equity</h1>
        <!--Variable with Jinja-Template that allows the Website to display the Balance dynamic-->
        <h1>{{ "%.2f" % equity }}$</h1>
        

    </div>
    <!--this class will show all the Stocks you own which you can sell here-->
    <div class ="sellOption">
        <h1>Your Stocks</h1>

        <form  method="post" action = "{{ url_for('sell') }}">
             
            
            
            <table>
                <thead>
                    <tr>
                        <!--Table headers are created-->
                        <th> Name </th>
                        <th> WKN </th>
                        <th> Value </th>
                        <th> Change </th>
                        <th> Owned </th>
                        <!--This input box is neccessary to make the user choose the amount of each stock that you want to sell-->
                        <th> <input type="number" id="numberOfStocks" name="amount" min="1" value="1"> </th>
                    </tr>
                </thead>
                <tbody>
                    <!--to get a list of values we use a for loop which is implemented in Html using Jinja, thsi is part of Flask-->
                    {% for stocksDataPoint in userStocks %}
                    <tr>
                         <!--Using Variables, also with Jinja Templates, to display Data in a dynamic way-->
                        <td>{{ stocksDataPoint["company_name"] }}</td>
                        <td>{{ stocksDataPoint["wkn"] }}</td>
                        <td>{{ "%.2f" % stocksDataPoint["value"] }}$</td>
                        <td>{{ "%.2f" % stocksDataPoint["stock_change_rate"] }}%</td>
                        <td>{{ stocksDataPoint["ownedAmount"] }}</td>
                        <!--creating a button which allows the user to sell your stocks-->
                        <td><button name="name" value="{{ stocksDataPoint["wkn"] }}" type="submit">Sell</button></td>
                    </tr>
                    {% endfor %}<!--necessary to end the For-Loop-->
                    
                </tbody>
            </table>
        
        </form>

    </div>
    <!-- the most important class which is neccessary to display the llama on the website-->
    <div class='llama'>
        <img src="../static/images/llama.png" alt="Llama">
    </div>

    <!--the footer with the copyright information -->
    <footer id="main-footer">
        <p>Copyright &copy;2020 Deppentreff</p>
    </footer>
</body>
</html>